/* You can add global styles to this file, and also import other style files */
body{
    /* background-image: url(../src/assets/login_1.jpg); */
    background-color:gray;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}