.sidebar {
    min-height: calc(100vh - 63px);
    background: -webkit-gradient(linear, left bottom, left top, from(#5768f3), to(#1c45ef));
    background: linear-gradient(to top, #5768f3, #1c45ef);
    font-family: "roboto", sans-serif;
    padding: 0;
    width: 270px;
    height: 1100px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
  }