<div class="modal modal-info fade in" id="{{modal}}">
    <div class="modal-dialog modal-lg" style="max-width: 800px;">
        <div class="modal-content">
            <form [formGroup]="userForm" (submit)="alterPassword();">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <ngx-loading [show]="loading"></ngx-loading>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Nova Senha</label>
                                <input type="password" formControlName="password" name="password" class="form-control"
                                    placeholder="Nova Senha"
                                    [ngClass]="{ 'is-invalid': submitted && f.password.errors, 'is-valid': f.password.touched && !f.password.errors }" />
                                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors.required">O campo nome é obrigatório</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Confirmar Senha</label>
                                <input type="password" formControlName="confirmPassword" name="email"
                                    class="form-control" placeholder="Confirmar senha" ngModel email="true"
                                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors, 'is-valid': f.confirmPassword.touched && !f.confirmPassword.errors }" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" type="reset" [disabled]="userForm.pristine && !submitted"
                        (click)="onReset()">Limpar</button>
                    <button class="btn btn-success btn-sm mr-1" type="submit"
                        [disabled]="userForm.valid">Validar</button>
                    <button type="submit" [disabled]="userForm.pristine" class="btn btn-primary btn-sm">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-message></app-message>