<div class="modal modal-info fade in" id="{{modal}}">
    <div class="modal-dialog modal-lg" style="max-width: 800px;">
        <div class="modal-content">
            <form [formGroup]="tipoSolicitacaoForm" (ngSubmit)="save()" #formDir="ngForm">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <ngx-loading [show]="loading"></ngx-loading>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Descrição</label>
                                <input
                                    type="text"
                                    formControlName="descricao"
                                    name="nome"
                                    class="form-control"
                                    placeholder="nome"
                                    required
                                    />
                                <div *ngIf="" class="validation-error">
                                    <p>O campo descricao é obrigatório</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label"><i class="fa fa-edit"></i> Estado</label>
                                <select formControlName="estado" name="estado" class="form-control" placeholder="estado" required>
                                    <option value="1">Activo</option>
                                    <option value="0">Inactivo</option>
                                </select>
                                <div *ngIf="" class="validation-error">
                                    <p> campo estado é obrigatório</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger btn-sm" type="reset" [disabled]="tipoSolicitacaoForm.pristine && !submitted" (click)="onReset()">Limpar</button>
                    <button class="btn btn-success btn-sm mr-1" type="submit" [disabled]="tipoSolicitacaoForm.valid">Validar</button>
                    <button type="submit" [disabled]="tipoSolicitacaoForm.pristine || tipoSolicitacaoForm.invalid" class="btn btn-primary btn-sm">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
