<div class="modal modal-info fade in" id="{{modal}}">
    <div class="modal-dialog modal-lg" style="max-width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">{{title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Deseja publicar está solicitação no portal do municipe?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="publicar()" data-dismiss="modal" >Confirmar</button>
              <button type="button" id="btn" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
          </div>
    </div>
</div>